p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 80px;
  padding-left: 104px;
  padding-right: 24px;
  background-color: rgb(248, 248, 248);
  padding-bottom: 10px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

@media (min-width: 1200px) {
  body {
    padding-left: 282px;
  }
}