.thumbnail {
  width: 100%;
  border-radius: 10px;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 768px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .video-title {
    font-size: 16px;
    line-height: 24px;
  }

  .video-author,
  .video-stats {
    font-size: 14px;
  }
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: black;
  color: white;
  bottom: 10px;
  right: 8px;
}

.channel-profile-tooltip {
  display: inline-block;
  position: relative;
}

.channel-tooltip {
  opacity: 0;
  background-color: white;
  width: 200px;
  position: absolute;
  padding: 8px 8px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 8px rgb(161, 161, 161) ;
  pointer-events: none;
}

a:hover + .channel-tooltip {
  opacity: 1;
  z-index: 200;
  transition: 0.15s;
}

.channel-info-tooltip {
  margin-left: 10px;
}

.channel-info-tooltip .video-title {
  margin-bottom: 2px;
  font-weight: 800;
}

.channel-tooltip .profile-picture {
  width: 50px;
}

.video-preview:hover {
  background-color: rgb(235, 235, 235);
  transition: 0.15s;
  border-radius: 10px;
}

.video-preview {
  padding: 10px;
}